<!DOCTYPE html>
<html ng-app="ShopCategoriesApp">
	<head>
		<meta charset="utf-8" />
		<script src="./angular.js"></script>
		<!-- <script src="./angular.min.js"></script> -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script> -->
		<script src="./app.js"></script>
		<link rel="stylesheet" href="styles.css" />
		<title>Using $http Service</title>
	</head>
	<body>
		<h1>Using $http Service</h1>

		<div ng-controller='ShopCategoriesController as shop'>
			<h2>List of Shop Categories</h2>
			
			<div class="caja">
				<div class="" ng-repeat="category in shop.categories">
					<a href="" ng-click="shop.showCategory(category)"><div class="category">{{category}}</div></a>
				</div>
			</div>

			<div class="show-category" ng-repeat="product in shop.categoryProducts">
				id: <a href="{{product.image}}">{{product.id}}</a> Title: {{product.title}}
				price: {{product.price}}
				<img src="{{product.image}}" alt="">
			</div>

		</div>
	</body>
</html>
